<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
<br/>
  <!-- call component show -->
<!-- <app-show> 

</app-show> -->
<br/>
<!-- input form  -->
<!-- <app-form-input> 
</app-form-input>  -->
<!-- list hero -->
<!-- <app-list-hero>

</app-list-hero>  -->
 <!-- dieu huong cac router -->
 <div class="head">
   <div class="divIcon">
    <img src='assets/img/logo_simple.png'/>
  </div>
   <ul>
    <li>
      <a routerLink="/show"> Tin tuc</a> 
    </li>
    <li>
      <a routerLink="/showlist">Xe co</a>
    </li>
    <li>
      <a routerLink=""> Danh gia</a>
      <ul class="ul1">
        <li class="li1">
            <a> x</a> 
        </li>
        <li  class="li1">
            <a> y</a> 
        </li>
        <li  class="li1">
            <a> z</a> 
        </li>
      </ul>
    </li>
    <li>
        <a routerLink="">Khoa hoc </a>
    </li>
    <li>
      <a routerLink="">Thu thuat</a>
    </li>
    <li>
      <a routerLink="">Chuyen de</a>
    </li>
  </ul>

  </div>



<router-outlet></router-outlet>
